/*RESET START*/
*{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
body{
    margin: 0;
    color: #34404b;
    font: 12px/1 "Harmonia_regular", sans-serif;
    background-color: #f4f6f8;
}
h1, h2, h3, h4, h5, h6, p{
    margin: 0;
}
ul, ol{
    margin: 0;
    padding: 0;
    list-style: none;
}
a, a:hover{
    color: inherit;
    text-decoration: none;
}

input, textarea, button{
    outline: none;
    border: none;
}

textarea{
    resize: vertical;
}
input{
    cursore: pointer;
}
label{
    margin-bottom: 0;
}
/*RESET END*/

/*DEFAULT CLASSES START*/
.flex-container{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
.justify-sp-between{
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.justify-sp-around{
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
}
.align-center{
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
}
.orange-text{
    color: #ff5912;
}
@media (max-width: 1999px) {
    .label{
        -webkit-border-radius: 50%;
                border-radius: 50%;
        background-color: #34404b;
        width: 18px;
        line-height: 14px;
    }
}
.label{
    position: absolute;
    top: -27%;
    right: 2%;

}
.load-more{
    background-color: #fff;
    margin-top: 80px;
    padding: 25px 10px;
    display: block;
    text-align: center;
}
.circle{
    height: 8px;
    width: 8px;
    display: inline-block;
    background: #ff5912;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    margin: 0 5px;
}

.bg-white{
    background-color: #fff;
}

.red-bg{
    background-color: #e12e3f;
}
.black-bg{
    background-color: #34404b;
}
.blue-bg{
    background-color: #3ab3ff;
}
.green-bg{
    background-color: #2fd967;
}
.light-orange-bg{
    background-color: #ff9060;
}
.orange-bg{
    background-color: #ff5912;
}
.more-info-items{
    padding: 10px 60px;
}
.sales-block{
    position: relative;
}
.sales-block > div{
    display: inline-block;
    width: 50px;
    height: 60px;
}
.sales-block div:first-child{
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
}
.sales-block div:last-child{
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    position: absolute;
    left: 0;
    top: 0;
}

.sales-block span{
    -webkit-transform: translate(-20%, 100%) rotate(-45deg);
        -ms-transform: translate(-20%, 100%) rotate(-45deg);
            transform: translate(-20%, 100%) rotate(-45deg);
    display: block;
    color: #fff;
    text-align: center;
    font-family: 'Harmonia_italic';
}
.sales-block p{
    -webkit-transform: translateY( 70%) rotate(-45deg);
        -ms-transform: translateY( 70%) rotate(-45deg);
            transform: translateY( 70%) rotate(-45deg);
    color: #fff;
    text-align: center;
    font-family: 'Harmonia_black';
    font-size: 18px;
}
.more-info-text span{
    text-transform: uppercase;
    font-size: 22px;
    font-family: 'Harmonia_black';

}
.more-info-text p{
    margin-top: 15px;
    color: #495662;
}
.more-info-price span{
    font-size: 32px;
    font-family: 'Harmonia_black';
    color: #ff5912;
    margin-left: 20px;
}
.more-info-area{
    margin: 7px 0;
}
.more-info-area span{
    font-size: 16px;
}
.more-info-area p{
    padding-top: 17px;
    letter-spacing: .6em;
    color: rgba(52, 64, 75, .4);
}
/*DEFAULT CLASSES END*/

/*DEFAULT COMPONENTS START*/
.custom-icon{
    display: inline-block;

}
.range-list li{
    font-family: 'Harmonia_semibold';
    font-size: 16px;
    line-height: 3.125;
    color: #34404b;
}
.range-list li a:hover{
    color: #ff5912;
}
.range-info label{
    margin-top: 40px;
    margin-bottom: 10px;
}
.checkbox-group input[type="checkbox"]{
    display: none;
}

.checkbox-group label{
    color: #34404b;
    font-size: 16px;
    cursor: pointer;
    line-height: 3.125;
    font-family: 'Harmonia_semibold';
}

.checkbox-group label::before{
    content: '';
    display: inline-block;
    width: 13px;
    height: 13px;
    border: 4px solid #edf0f2;
    background-color: #edf0f2;
    margin-right: 20px;
}

.checkbox-group input[type="checkbox"]:checked + label{
    color: #ff5912;
}

.checkbox-group input[type="checkbox"]:checked + label::before{
    border-color: #ff5912;

}

.title{
    font-family:  'Harmonia_black';
    text-transform: uppercase;
    font-size: 36px;
    margin-bottom: 30px;
}

.item-title a:hover{
    color: #ff5912;
}

.title.big{
    font-size: 52px;
}

.subtitle{
    display: block;
    font-size: 16px;
    color: #495662;
    margin-bottom: 70px;
}
.default-section{
    padding: 60px 0;
}
.item{
    background-color: #fff;
    padding: 30px 10px;
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
    height: 372px;
    position: relative;
}
.item:hover{
    -webkit-box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.1);;
}

.item .item-img{
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
    margin-bottom: 30px;
    height: 216px;
}
.item .item-img img{
    max-height: 100%;
}
.item:hover .item-img{
    height: 90px;
}
.item-description{
    padding: 0 40px;
}
.item .item-title{
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
       text-overflow: ellipsis;
    font-family: 'Harmonia_bold';
    font-size: 18px;
    padding-bottom: 30px;
    color: #34404b;

}
.item:hover .item-title{
    color: #ff5912;
}
.item .item-price{
    font-family:'Harmonia_bold';
    font-size: 18px;
    color: #ff5912;
    margin-bottom: 30px;
}
.item:hover .item-price{
    display: none;
}
.more-info-on-hover{
    opacity: 0;
    position: absolute;
    bottom: 30px;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
    width: 100%;
    padding: 0 50px;
}
.item:hover .more-info-on-hover{
    opacity: 1;
}
.more-info-on-hover .size{
    font-size: 14px;
    color: #34404b;
    margin-bottom: 30px;
}
.more-info-on-hover .colors{
    text-align: center;
    padding-bottom: 30px;
    border-bottom: 1px solid #f2f4f7;
}

.more-info-on-hover .colors li{
    -webkit-border-radius: 50%;
            border-radius: 50%;
    height: 13px;
    width: 13px;
    display: inline-block;
}
.more-info-on-hover .item-controls{
    padding-top: 30px;
}
.more-info-on-hover .item-controls li{
    display: inline-block;
}
.more-info-on-hover .item-controls li + li{
    margin-left: 30px;
}
.subscribe-fom{
    padding: 37px 40px;
}
.subscribe-input-grope{
    margin-right: 30px;
}

.subscribe-description span{
    font-family:  'Harmonia_italic';
    font-size: 14px;

}

.subscribe-description > span.orange-text{
    text-transform: uppercase;
    font-family: 'Harmonia_bold';
    font-size: 18px;
    margin-right: 25px;
}

.subscribe-input-grope label{
    vertical-align: middle;
    margin-right: 14px;
}

.subscribe-input{
    font-size: 14px;
    color: #7c8791;
    font-family: 'Harmonia_italic';
    min-width: 255px;
}

header a:hover,
header i:hover{
    color: #ff5912;
}

header .top-header{
    border-bottom: 1px solid #edeff1;
    padding: 20px 0;
}
header .top-header .phone-list li + li{
    margin-left: 20px;
}

header .top-header .phone-list li span.custom-icon{
    margin-right: 10px;

}
header .bottom-header{
    padding: 42px 0;
}
header .bottom-header .logo{
    margin-right: 85px;
}
header .bottom-header .user-controls li + li{
    margin-left: 30px;
}
header .bottom-header .user-controls{
    margin-left: auto;
}

.user-controls{
    position: relative;

}

header .bottom-header .header-nav a{
    margin-right: 35px;
    font-size: 16px;
    text-decoration: none;
}
.items-carousel{
    min-height: 650px;
    background: url("../img/carousel-img-1.jpg") no-repeat center / cover;
    margin-bottom: 60px;
}
.carousel-text span{
    font-family: 'Harmonia_semibold';
    font-size: 18px;
    line-height: 1.87;
}
.carousel-text p{
    font-size: 16px;
    line-height: 1.87;
    color: #495662;
}
.carousel-prices{
    margin-top: 65px;
}
.carousel-prices .price{
    margin-right: 30px;
    font-family: 'Harmonia_semibold';
    font-size: 18px;
}
.carousel-prices .order-link span{
    margin-right: 10px;
}
.carousel-prices .order-link a{
    text-decoration: none;
    font-family: 'Harmonia_semibold';
    font-size: 18px;
}
.carousel-prices .order-link a:hover{
    color: #ff5912;
}
.winter-kit-border{
    border: 1px solid #eaedef;
}
/*DEFAULT COMPONENTS END*/

/*ALL STYLES START*/
.social-nav a i{
    margin-left: 15px;
}
.category-wrap{
    padding-top: 120px;
}
.aside-section{
    padding: 40px;
}
.aside-section + .aside-section{
    margin-top: 30px;
}
.aside-section-title{
    font-family: 'Harmonia_black';
    font-size: 18px;
    margin-bottom: 35px;
}
.category-wrap .item{
    margin-bottom: 30px;

}
.category-wrap .load-more{
    margin-top: 0;
}
.category-wrap .subscribe-fom{
    margin-top: 120px;
}
/*ALL STYLES END*/
/*FOOTER START*/
footer{
    margin-top: 60px;
}
.footer{
    padding: 80px 0;

}

.footer .logo span{
    margin-top: 25px;
    font-size: 14px;
    line-height: 2.14;
    display: block;
}
.footer .list .footer-list{
    font-size: 14px;
    line-height: 2.14em;
    color: #28313b;

}
.footer .list .footer-list li:before{
    content: "";
    display: inline-block;
    width: 4px;
    height: 4px;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    margin-right: 10px;
    background: #28313b;
}
.footer .list .footer-list li:hover:before{
    background-color: #ff5912;
}
.footer .list .footer-list li a:hover{
    text-decoration: none;
    color: #ff5912;
}
.footer-user-nav span{
    display: block;
    font-family: 'Harmonia_bold';
    font-size: 16px;
    line-height: 1.87em;
}
.footer-user-nav ul{
    padding-top: 20px;
}
/*FOOTER END*/